
@mixin entries() {
  
  .entry {
    padding: 12px 0 2px 40px;
    border-bottom: 1px dashed #CCCCCC;
  }
  
  .entry-actions {
    padding: 5px;
  }
  
  .entry-type-twitter {
    background: 0 8px url("/img/logos/twitter-32.png") no-repeat transparent;
  }
}
